{% extends 'account_app/guru/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  <title>Laporan Murid | Sekolah Akademia</title>

{% endblock title %}

{% block content %}

<div class="card shadow">
  <div class="card-body">

    <form method="post" class='user'>
      {% csrf_token %}

      <input type="hidden" name="pelapor" id="id_pelapor" value='{{ user.id }}'>

      {% for field in form %}
        {% if field is not form.pelapor %}
          <div class="form-group">
            {{ field.label }}
            {% render_field field class="form-control" %}
            {{ field.errors }}
          </div>
        {% endif %}
      {% endfor %}


      <input type="submit" value="Kirim" class="btn btn-success">
      <a href="{% url 'extra-app:laporanmurid-guru' %}" class='btn btn-danger ml-2'>Batal</a>

    </form>

  </div>
</div>



{% endblock content %}
