{% extends 'account_app/guru/base.html' %}
{% load static %}

{% block title %}
  <title>Kurikulum {{ mapel }} | Sekolah Akademia</title>
{% endblock title %}

{% block content %}
<h1>Kurikulum {{ mapel }}</h1>

<table class='table'>
  <thead>
    <th>No.</th>
    <th>Tanggal Buat</th>
    <th>Tingkat Pengajaran</th>
    <th>Deskripsi</th>
    <th>Pembuat</th>
  </thead>

  {% for i in mapel.kurikulum_set.all %}
  <tr>
    <td>{{ forloop.counter }}.</td>
    <td>{{ i.tanggal_buat }}</td>
    <td><a href="{% url 'account-app:kurikulum-guru-detail' i.pk %}">{{ i.tingkat_pengajaran }}</a></td>
    <td>
        <div class="dropdown no-arrow">

          <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-comment-dots"></i>
          </a>

          <div class="dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <div class="mx-3">
              <div>
                {{ i.deskripsi.html|safe|slice:":100" }}
              </div>
            </div>
          </div>

        </div>
    </td>
    <td>{{ i.guru|title }}</td>
  </tr>

  {% endfor %}

</table>


{% endblock content %}
