{% extends 'account_app/guru/base.html' %}
{% load static %}

{% block title %}
  <title>Mata Pelajaran | Sekolah Akademia</title>
{% endblock title %}

{% block content %}
<h1>
  Mata Pelajaran Diampu
  <a href="{% url 'account-app:kurikulum-guru-tambah' %}" class='btn btn-success ml-4'>Tambah Kurikulum<i class='fas fa-plus ml-1'></i></a>
</h1>
<hr>
<br>



<div class="card-deck" style="width: 30rem;">
  {% for i in timmapel_list %}
    <div class="card">
      <a href="{% url 'account-app:mapel-guru-detail' i.mapel.pk %}">
        <img class="card-img-top" style="max-height: 180px;"
          {% if i.mapel.nama == 'Kesenian' %}
            src="{% static 'account_app/img/art_card.jpg' %}"
          {% elif i.mapel.nama == 'Matematika' %}
            src="{% static 'account_app/img/math_card.jpg' %}"
          {% elif i.mapel.nama == 'Bahasa Indonesia' %}
            src="{% static 'account_app/img/bahasa_card.jpg' %}"
          {% elif i.mapel.nama == 'Bahasa Sunda' %}
            src="{% static 'account_app/img/sunda_card.jpeg' %}"
          {% elif i.mapel.nama == 'Karate' %}
            src="{% static 'account_app/img/karate_card.jpg' %}"
          {% endif %}
        >
        <div class="card-body">
          <h5 class="card-title">{{ i.mapel }}</h5>
        </div>
      </a>
    </div>
  {% endfor %}

</div>


{% endblock content %}
